/version archive/bot_v.1.2_deepseek.txt
/version archive/bot_v.1.3_deepseek.txt
/version archive/bot_v.1.4_deepseek.txt
/version archive/bot_v.1.5.txt
/version archive/bot_v1.0_gigachat.txt
/version archive/bot_v1.1_deepseek.txt
/tokens.env
